<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
">
<div style="
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(123,206,236,0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
">
<h2>Envoie le lien d'une image, et on te dira quel sport c'est !</h2>
<form action="#" th:action="@{/getSport}" th:object="${sport}" method="post">
    <p>Image url:
        <input type="text" name="imageUrl" th:field="*{imageUrl}"/>
    </p>
    <input type="submit" value="Submit" name="Submit"/>
</form>
</div>
</body>
</html>